nav {
  margin-top: 0;
  background-color: #FFFFFF;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  align-self: center;
  color: rgb(17, 68, 136);
}

nav li a {
  text-decoration: none;
  color : rgb(17, 68, 136)
}

@media (max-width: 700px) {
  nav li {
    font-size: 0.9em;
  }
}

@media (max-width: 500px) {
  nav li {
    font-size: 0.8em;
  }
}