.header_tablet{
  width:100%;
}

.header_mobile{
  width:100%;
}

.header_laptop{
  width:100%;
}

.header_desktop{
  width:100%;
}


/* mobile */
@media screen and (min-width: 425px) {
  .header_mobile {
    display: block;
  }
  .header_desktop {
    display: none;
  }
  .header_laptop {
    display: none;
  }
  .header_tablet {
    display: none;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .header_tablet {
    display: block;
  }
  .header_desktop {
    display: none;
  }
  .header_laptop {
    display: none;
  }
  .header_mobile {
    display: none;
  }
}

/* laptop*/
@media screen and (min-width: 1024px) {
  .header_laptop {
    display: block;
  }
  .header_desktop {
    display: none;
  }
  .header_tablet {
    display: none;
  }
  .header_mobile {
    display: none;
  }
}
