.card-container {
  width: 12em;
  height: 23em;
  background-color: white;
  padding: 1em;
  box-shadow: 0 3px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
  margin-top: 50px;
  margin-right: 10px;
  border-radius: 25px;
}

.card-body {
  text-align: left;
}

.card-description {
  font-size: smaller;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.card-button {
  border: none;
  background-color: #ffffff;
  font-size: 30px;
}

 /*@media (max-width:899px) {
  .card-container {
    width: 40vw;
    max-width: 200px;
    max-height: 500px;
  }
}

@media (min-width: 900px) {
  .card-container {
    width: 20vw;
    max-width: 200px;
    max-height: 500px;
    padding: 0.5em;
  }
}

@media (min-width: 1200px) {
  .card-container {
    width: 15vw;
  }
} */